<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Express.js File Upload</title>
	<link rel="stylesheet" href="d&d.css" rel="stylesheet" />
</head>

<body>
<div class="upload-area" id="uploadArea">
    <p>ファイルアップロード</p>
    <p class="mt-4" id="fileName">ファイル名</p>
    <input type="file" id="fileInput">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>


<script>
$('#uploadArea').on('dragover', function () {
	event.preventDefault();
	this.style.backgroundColor = '#80ff80';
});
$('#uploadArea').on('dragleave', function () {
	this.style.backgroundColor = '';
});
$('#uploadArea').on('drop', function () {
	event.preventDefault();
	this.style.backgroundColor = '';
    if (event.dataTransfer.files.length > 0) {
        $('#fileInput').prop('files', event.dataTransfer.files);
        $('#fileInput').trigger('change');
	}
});
$('#fileInput').on('change', function () {
	$('#fileName').html(this.files[0].name);
});

</script>
</html>